.heading1 {
  color: $text-main;
  font-size: 24px;
  margin: 0;
  padding: 0 0 $spacing-large;
}

.heading2 {
  color: $text-main;
  font-size: 16px;
  font-weight: 800;
  margin: 0;
  padding: 0 0 $spacing;

  &--large {
    font-size: 18px;
    padding-bottom: $spacing-small;
  }
}

.heading3 {
  color: $text-main;
  font-weight: normal;
  margin: 0;
  padding-bottom: $spacing-small;
}

.loginHeading {
  width: 108px;
  height: 49px;
  font-size: 36px;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

.signupHeading {
  margin: 36.6px 0 10px 0px;
  width: 133px;
  height: 49px;
  font-size: 36px;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
}

.welcome-onboard {
  width: 353px;
  height: 25px;
  font-size: 18px;
  margin: 0 0 29px 0;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
